body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body>.card-title {
    font-family: 'Lobster', cursive;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: rgb(56, 56, 235);
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(to right, rgb(239, 241, 104), #d3e059, #d6f046);
    padding: 20px 0;
    margin-top: 2rem;
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {  
    height: 100px;  
    width: 350px;
}

.navbar {
    background-color: yellow;
    background-image: linear-gradient(to right, yellow, #b6c530, #cae919);
    margin-bottom: 2rem;
    min-height: 8rem;
    color: blue;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}